###DATABASE####
APP_PORT=8080
APP_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=xyz_football
JWT_SECRET=ganti-dengan-secret-kuat
JWT_ACCESS_TTL=3600
JWT_REFRESH_TTL=604800
SEASON_START_DATE=2026-01-01
UPLOAD_DIR=./uploads
BASE_URL=http://localhost:8080
RATE_LIMIT=5-M
